/* all common css style start */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
ul ,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
    line-height: 0.8;
}
/* all common css style end */
/* header part start */
#header{
    margin: 34px 0px;
}
.headerFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerMenu ul{
    display: flex;
    gap: 42px;
}
.headerMenu ul li{
    font-size: 18px;
    font-weight: 500;
    color: #181818;
    transition: .5s;
}
.headerMenu ul li:hover{
    color: #5956E8;
}
.headerButton button{
    padding: 13px 24px;
    border: 0;
    background: #5956E8;
    color: #FFFFFF;
    border-radius: 10px;
}
/* header part end */
/* banner style start */
#banner{
    background: #5956E8;
    padding: 182px;
}
.bannerFlex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bannerleft h1{
    color: #FFFEFE;
    font-size: 65px;
    font-weight: 700;
    line-height: 80px;
    width: 501px;
}
.bannerleft p{
    color: #FFFEFE;
    line-height: 27px;
    width: 542px;
    padding-top: 25px;
    padding-bottom: 30px;
}
.bannerButton button{
    padding: 13px 22px;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    border: 0;
}
/* banner style end */
/* service part start */
#servicePart{
    padding: 100px 0;
}
.servicePartTop{
    text-align: center;
}
.servicePartTop h3{
    color: #181818;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
.servicePartTop p{
    color: rgba(24, 24, 24, 0.7);
    line-height: 27px;
    font-size: 16px;
    width: 542px;
    
    margin: 0 auto;
}
.servicePartButtom{

}
.serviceFlex{
    display: flex;
    justify-content: space-between;
}
.card{
    padding: 63px 48px;
    border: 1px solid#E3E3E3;
    border-radius: 10px;
    margin-top: 50px;
    transition: .3s;
}
.card:hover{
    box-shadow: 0px 6px 35px 0px rgba(0, 0, 0, 0.08)
}
.card:hover .cardImg svg ,.serviceFlex .card .cardImg .svg:hover{
    fill: #5956E8;
    stroke: #fff;
}
.card h4{
    color: #181818;
    font-size: 25px;
    font-weight: 700px;
    padding-top: 30px;
    padding-bottom: 20px;
}
.card p{
    color: rgba(24, 24, 24, 0.7);
    line-height: 27px;
    width: 274px;
}
/* service part start */
/* portfolio scc style start */
#portfolio{
    padding: 100px 0;
    background: #FFFFFF;
}
.portfolioTop h3{
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 40px;
}
.portfolioTop p{
   font-size: 16px;
   width: 542px;
   margin: 0 auto;
   line-height: 27px;
   text-align: center;
}
.portfolioButtom{
   
}
.serviceFlex{
    display: flex;
    justify-content: space-between;
    
}
.portfolioCard{
    width: 270px;
    position: relative;
    top: 50px;
}
.portfolioImg{
    width: 100%;
   
}
.portfolio-overlay{
    width: 230px;
    height: 113px;
    position: absolute;
    border-radius: 10px;
    left: 20px;
    bottom: 19px;
    background-color: rgba(94, 93, 240, 0.9);
    justify-content: center;
    align-items: center;
    opacity: 0;

}
.portfolio-overlay h4{
   font-size: 20px;
   font-weight: 600;
   position: absolute;
   text-align: center;
   padding-top: 25px;
   line-height: 27px;
   transition: 0.4s;
   color: #FFFFFF;
   padding-left: 40px;
}
.portfolio-overlay a{
    font-size: 16px;
    position: absolute;
    text-align: center;
    color: #FFFFFF;
    padding-top: 62px;
    padding-left:55px ;
}
.portfolioCard:hover .portfolio-overlay{
   opacity: 1;
}
/* portfolio css style end */